*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
#aboutus{
    width: 100%;
    height: auto;
    /* border: 1px solid #ff0000; */
    background-image: url(./images/aboutus-app.png);
    background-size: 100% 91.5%;
    background-position:center bottom;
    background-repeat: no-repeat;
}
#aboutus .navbar{
    width: 100%;
    height:10vh;
    /* border: 1px solid #ff0000; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#aboutus .navbar .logo{
    width: 100px;
    height: auto;
}
#aboutus .navbar .logo>img{
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
}

#aboutus .navbar .lists{
    display: none;
}



.lists2.active {
  transform: translateX(0vh) scale(1);
  opacity: 1;
  display: flex;
}
.lists2 {
  overflow: hidden;
  display: hidden;
  transition: all 1s cubic-bezier(0.68, -0.001, 0.265, .55);
  opacity: 0;
  position: absolute;
  top: 10%;
  right: 0%;
  padding: 2em 2em;
  background-color: rgba(255, 255, 255, 1);
  height: fit-content;
  z-index: 9;
  transform: translateX(100vh) scale(0);
  list-style: none;
}
.lists2 ul li {
  list-style: none;
  margin: 2em 2em;
}
.lists2 ul li a {
  font-size: 1.2em;
  text-decoration: none;
  color: #000;
}
.blur{
	position: fixed;
	transform: scale(0);
	opacity: 0;
	z-index: 8;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	/* -webkit-filter: blur(15px);
	-moz-filter:blur(15px);
	filter: blur(15px); */
	/* background-color: rgba(0, 0, 0, .7); */
	-webkit-backdrop-filter: blur(10px);
	        backdrop-filter: blur(10px);
	/* backdrop-filter: url(commonfilters.svg#filter); */
}
.blur.active2{
	opacity: 1;
	pointer-events: all;
	transform: scale(1);
}

.listandsign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.fa-bars {
  font-size: 2em;
  /* border: 2px solid rgba(256, 256,256,.5); */
  padding: 0.2em;
  color: #5e16bd;
  z-index: 30;
}

#aboutus .navbar .lists>ul{
    list-style: none;
    display: flex;
}

#aboutus .navbar .lists>ul>li>a{
    color: #ff0000;
}
.butn:link,
  .butn:visited {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #5e16bd;
    background-image: linear-gradient(90deg, #501aa8, #870de8);
    padding: 1rem 1.5rem;
    height: 2.5em;
    max-width: 200px;
    margin-right: 13px;
    border-radius: 4px;
    border: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
  .butn::before {
    background: #fff;
    content: "";
    height: 155px;
    opacity: 0;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    width: 50px;
    transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .butn::after {
    background: #fff;
    content: "";
    height: 20rem;
    opacity: 0;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 8rem;
  }
  .butn__new::before {
    left: -50%;
  }

  .butn__new::after {
    left: -100%;
  }

  .butn:hover,
  .butn:active {
    transform: translateY(-3px);
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  }

  .butn__new:hover::before {
    left: 120%;
    opacity: 0.5s;
  }

  .butn__new:hover::after {
    left: 200%;
    opacity: 0.6;
  }
  .butn span {
    z-index: 20;
  }

  .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card {
    position: relative;
    width: 300px;
    height: 300px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5) ;
    margin:1em;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid  rgba(255, 255, 255, 0.5);
    border-left:1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.container .card .content{
    padding: 10px;
    text-align: center;
    color:rgba(255, 255, 255, 0.5) ;
    transform: translateY(10px);
    opacity: 1;
    transition: 0.5s;
    height: auto;
}
.container .card:hover .content{
    opacity: 1;
    transform: translateY(1);
}
.container .card .content h2{
    /* position: absolute; */
    top: -20px;
    right: 20px;
    font-size: 1.5em;
    color: #fff;
    /* color:rgba(255, 255, 255, 0.05) ;     */
    pointer-events: none;
}
.container .card .content h3{
    color: rgba(255, 255, 255, 0.767);
    font-size: 1.2em;
    z-index: 1;
    margin-top: 15px;
}
.container .card .content p{
    color: rgba(255, 255, 255, 0.562);
    font-size: .8em;
    font-weight: 600;
    margin-top: 15px;
}
/* .container .card .content a{
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 50px;
    font-weight: 500;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
} */
.social{
    width: 100%;
    height: auto;
    padding: .5em;
    /* border: 2px solid red; */
}
.social i{
    font-size: 2em;
    margin: .5em;
    color: #fff;
}
.meet{
    text-align: center;
    margin-top:1em;
}
.meet h1{
  color: #fff;
}
@media screen and (min-width:650px){
  
  #aboutus{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    /* border: 1px solid #ff0000; */
    background-image: url(./images/aboutus-app.png);
    background-size: 100% 90%;
    background-position:center bottom;
    background-repeat: no-repeat;
  }
  .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 80vh;
    flex-wrap: wrap;
    z-index: 1;
  }
}
@media screen and (min-width:899px){
  .hidehamb{
    display: none;
  }
}
@media screen and (min-width:900px){
    .container .card {
        position: relative;
        width: 400px;
        height: 400px;
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5) ;
        margin:1em;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top:1px solid  rgba(255, 255, 255, 0.5);
        border-left:1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
    }
    .container .card .content{
        padding: 10px;
        text-align: center;
        color:rgba(255, 255, 255, 0.5) ;
        transform: translateY(10px);
        opacity: 0;
        transition: 0.5s;
        height: auto;
    }
    .container .card:hover .content{
        opacity: 1;
        transform: translateY(0);
    }
    .container .card .content h2{
        /* position: absolute; */
        top: -20px;
        text-shadow: 5px 5px 10px black;
        right: 20px;
        font-size: 3em;
        color: #fff;
        /* color:rgba(255, 255, 255, 0.05) ;     */
        pointer-events: none;
    }
    .container .card .content h3{
        color: rgba(255, 255, 255, 0.767);
        font-size: 1.5em;
        z-index: 1;
        margin-top: 15px;
    }
    .container .card .content p{
        color: rgba(255, 255, 255, 0.562);
        font-size: 1em;
        font-weight: 600;
        margin-top: 15px;
    }
    .social i{
        font-size: 2.5em;
        margin: .5em;
        color: #fff;
    }
    .meet{
        text-align: center;
        margin-top:1em;
        color: #fff;
        text-shadow: 5px 5px  30px black;
        font-size: 2em;
    }
    #aboutus .navbar .lists{
        display: flex;
    }
    #aboutus .navbar .lists>ul{
        list-style: none;
        display: flex;
    }
    
    #aboutus .navbar .lists>ul>li>a{
        color: #501aa8;
        /* padding: 1em; */
    }
    .listandsign{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .btn,
    .btn2,
    .btn3,
    .btn4,
    .btn5,
    .btn6,
    .btn7,
    .btn10 {
      padding: 10px 10px;
      margin: 5px 1px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      text-decoration: none;
      display: inline-block;
    }
  
    /*=======Button 6============= */
    .btn6 {
      border: 2px solid transparent;
      transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    }
  
    .btn6::before {
      content: "";
      position: absolute;
      left: 0px;
      bottom: 0px;
      z-index: -1;
      width: 0%;
      height: 1px;
      background: #6098ff;
      box-shadow: inset 0px 0px 0px #fff;
      display: block;
      transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    }
  
    .btn6:hover::before {
      width: 100%;
    }
  
    .btn6::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 0px;
      z-index: -1;
      width: 0%;
      height: 1px;
      background: #777a7e;
      transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    }
    .btn6:hover::after {
      width: 100%;
    }
    .btn6:hover {
      border-left: 2px solid #fff;
      border-right: 2px solid #fff;
    }

    .section1 #bodysec .projects .sapc{
        width: 200px;
        text-align: center;
        position: relative;
        top: 10px;
        margin: auto;
    }
    .section1 #bodysec .projects .button{
        position: relative;
        top: -100px;
        /* border: 2px solid chartreuse; */
        width: 40%;
        margin: auto;
        text-align: center;
    }    
}

@media screen and (min-width:1200px){
    .navbar .logo .logoimg {
        width: 100%;
        height: 100%;
      }
      .navbar .listandsign .lists {
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
        color: white;
      
      }
      .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border: 2px solid red; */
        padding-top: 2em;
        height: 4rem;
        width:100%;
      }
      .navbar .listandsign {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .navbar .listandsign .lists ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
      }
      .navbar .listandsign .lists ul li {
        list-style: none;
        margin: 0em;
        /* border-bottom: 2px solid ed; */
      }
      .navbar .listandsign .lists ul li a {
        text-decoration: none;
        font-size: 1em;
        color: blue;
      }
      .navbar .listandsign .sign {
        color: white;
      }
      .navbar .listandsign .sign .signbtn {
        font-size: 1.5em;
      }
      
    
      .butn:link,
      .butn:visited {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      text-transform: uppercase;
      text-decoration: none;
      background-color: #5e16bd;
      background-image: linear-gradient(90deg, #501aa8, #870de8);
      padding: 1rem 1rem;
      height: 2rem;
      width: 130px;
      
      margin-right: 13px;
      border-radius: 4px;
      border: none;
      color: #fff;
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      }
      .butn::before {
      background: #fff;
      content: "";
      height: 20rem;
      opacity: 0;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      width: 50px;
      transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
      }
      .butn::after {
      background: red;
      content: "";
      height: 20rem;
      opacity: 0;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 8rem;
      }
      .butn__new::before {
      left: -50%;
      }
      
      .butn__new::after {
      left: -100%;
      }
      
      .butn:hover,
      .butn:active {
      transform: translateY(-3px);
      color: #fff;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
      }
      
      .butn__new:hover::before {
      left: 120%;
      opacity: 0.5s;
      }
      
      .butn__new:hover::after {
      left: 200%;
      opacity: 0.6;
      }
      .butn span {
      z-index: 20;
      }
      .btn, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7, .btn10{
        padding: 10px 10px;
        margin:5px 1px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        text-decoration: none;
        display:inline-block;
        
      }
      
      
      /*=======Button 6============= */
      .btn6{
        border:2px solid transparent; 
         -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
        transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
      }
      
      .btn6::before {
        content: '';
        position: absolute;
        left: 0px;
        bottom:0px;
        z-index:1;
        width: 0px;
        height:1px;
        background: #3f1b6c;
        opacity: .45;
        box-shadow: inset 0px 0px 0px #fff;
        display: block;
        -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
        transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
      }
      
      .btn6:hover::before {
        width:100%;
      }
      
      .btn6::after {
        content: '';
        position: absolute;
        right: 0px;
        top:0px;
        z-index:1;
        width: 0px;
        opacity: .4;
        height:1px;
        background: #3f1b6c;
        -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
        transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
      }
      .btn6:hover::after {
        width:100%;
      }
      .btn6:hover{
        border-left:2px solid #870de8;
        border-right:2px solid #870de8;
      }
}













/* #aboutus .navbar .lists{
    display: none;
} */