.fGhsIW {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding-bottom: 0;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

/*!sc*/
.bcrzgk {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 100%;
  width: 100%;
}

/*!sc*/
.LyLIy {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 680px;
  padding-bottom: 80px;
}

/*!sc*/
.jbINSs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  background-style: flat;
}

/*!sc*/
.eZNKTD {
  margin-bottom: 16px;
}

/*!sc*/
.jgGrsq {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 32px;
  width: 100%;
  height: 100%;
}

/*!sc*/
.llgrqs {
  margin-left: 12px;
  margin-right: 12px;
  max-width: 100%;
}

/*!sc*/
.pkAuV {
  position: relative;
}

/*!sc*/
.kzCoZd {
  position: relative;
  height: auto;
  border-type: squared;
  style-type: fill;
}

/*!sc*/
.fNlWAC {
  left: 4px;
  width: 46px;
  height: 46px;
  border-radius: 0;
}

/*!sc*/
.ihnwqk {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

/*!sc*/
.dkrNTA {
  position: fixed;
  bottom: 0;
  height: auto;
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  background-color: #ffffff;
  box-shadow: 0px -14px 28px rgba(10, 11, 13, 0.1);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
  z-index: 1001;
}

/*!sc*/
@media screen and (min-width: 576px) {
  .dkrNTA {
    max-width: 375px;
  }
}

/*!sc*/
@media screen and (min-width: 767px) {
  .dkrNTA {
    max-width: 760px;
  }
}

/*!sc*/
.gchjEV {
  position: absolute;
  right: 8px;
  top: 8px;
}

/*!sc*/
.eKvZIH {
  width: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 100vh;
  height: 100%;
}

/*!sc*/
@media screen and (min-width: 576px) {
  .eKvZIH {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/*!sc*/
@media screen and (min-width: 767px) {
  .eKvZIH {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

/*!sc*/
.kxNToM {
  width: 100%;
  -webkit-flex-basis: 80px;
  -ms-flex-preferred-size: 80px;
  flex-basis: 80px;
}

/*!sc*/
@media screen and (min-width: 576px) {
  .kxNToM {
    width: 100%;
    -webkit-flex-basis: 80px;
    -ms-flex-preferred-size: 80px;
    flex-basis: 80px;
  }
}

/*!sc*/
@media screen and (min-width: 767px) {
  .kxNToM {
    width: auto;
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }
}

/*!sc*/
.hVYfjR {
  margin-bottom: 36px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 36px;
  width: 100%;
  font-family: karla;
}

/*!sc*/
@media screen and (min-width: 576px) {
  .hVYfjR {
    padding-top: 36px;
  }
}

/*!sc*/
@media screen and (min-width: 767px) {
  .hVYfjR {
    padding-top: 40px;
  }
}

/*!sc*/
.iOGite {
  margin-bottom: 24px;
}

/*!sc*/
.fKOsqo {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 0;
  min-height: 287px;
  max-height: 462px;
  width: 100%;
}

/*!sc*/
@media screen and (min-width: 576px) {
  .fKOsqo {
    min-height: 287px;
    max-height: 462px;
  }
}

/*!sc*/
@media screen and (min-width: 767px) {
  .fKOsqo {
    min-height: 287px;
    max-height: 462px;
  }
}

/*!sc*/
@media screen and (min-width: 992px) {
  .fKOsqo {
    min-height: 270px;
    max-height: 425px;
  }
}

/*!sc*/
.gNTMHV {
  height: 0vh;
}

/*!sc*/
.VVPDD {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  logo: black-green;
}

/*!sc*/
data-styled.g1[id="sc-bdfBwQ"] {
  content: "fGhsIW,bcrzgk,LyLIy,jbINSs,eZNKTD,jgGrsq,llgrqs,pkAuV,kzCoZd,fNlWAC,ihnwqk,dkrNTA,jAmcnV,gchjEV,eKvZIH,kxNToM,hVYfjR,iOGite,fKOsqo,gNTMHV,VVPDD,";
}

/*!sc*/
.bhdLno {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*!sc*/
data-styled.g2[id="sc-gsTCUz"] {
  content: "bhdLno,";
}

/*!sc*/
.cTsoyo {
  margin: 0;
  color: paletteslate13;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*!sc*/
.kwNybW {
  margin: 0;
  font-weight: 400;
  text-align: left;
  font-size: 24px;
  line-height: 1.5;
}

/*!sc*/
@media screen and (min-width: 576px) {
  .kwNybW {
    text-align: left;
  }
}

/*!sc*/
@media screen and (min-width: 767px) {
  .kwNybW {
    text-align: center;
  }
}

/*!sc*/
data-styled.g3[id="sc-dlfnbm"] {
  content: "cTsoyo,kwNybW,";
}

/*!sc*/
.kVCYxL {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  width: 100%;
}

/*!sc*/
.hyPPpq {
  padding: 0;
  margin: 0;
  color: #53585f;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
  font-size: 14px;
  line-height: 1.57;
}

/*!sc*/
@media screen and (min-width: 576px) {
  .hyPPpq {
    text-align: left;
  }
}

/*!sc*/
@media screen and (min-width: 767px) {
  .hyPPpq {
    text-align: center;
  }
}

/*!sc*/
.cwiWLN {
  padding: 0;
  margin: 0;
  font-weight: 600;
  text-align: center;
  line-height: 1.5;
  font-size: 14px;
  line-height: 1.57;
}

/*!sc*/
data-styled.g4[id="sc-hKgILt"] {
  content: "kVCYxL,hyPPpq,cwiWLN,";
}

/*!sc*/
.kZodAG {
  color: inherit;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

/*!sc*/
data-styled.g5[id="sc-eCssSg"] {
  content: "kZodAG,";
}

/*!sc*/
.gAHPqj {
  fill: currentColor;
  display: block;
  width: lg;
  height: lg;
  color: black;
  width: 32px;
  height: 32px;
}

/*!sc*/
.iSHMGE {
  fill: currentColor;
  width: xl;
  height: xl;
  color: #acb5bf;
  width: 48px;
  height: 48px;
}

/*!sc*/
.eaSLVe {
  fill: currentColor;
  width: auto;
  height: 100%;
  display: block;
}

/*!sc*/
data-styled.g7[id="sc-gKsewC"] {
  content: "gAHPqj,iSHMGE,eaSLVe,";
}

/*!sc*/
.flTywP {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  display: block;
  object-fit: contain;
  object-position: initial;
  -webkit-filter: none;
  filter: none;
}

/*!sc*/
data-styled.g8[id="sc-iBPRYJ"] {
  content: "flTywP,";
}

/*!sc*/
.irPtrP {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

/*!sc*/
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/*!sc*/
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/*!sc*/
data-styled.g9[id="sc-fubCfw"] {
  content: "irPtrP,";
}

/*!sc*/
.ldGKnQ {
  padding: 0;
  margin: 0;
  border: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-align: center;
  cursor: pointer;
  display: block;
  background: none;
  type: button;
  -webkit-text-decoration: none;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: auto;
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  vertical-align: middle;
}

/*!sc*/
.ldGKnQ:focus {
  outline: none;
}

/*!sc*/
.ldGKnQ:disabled {
  cursor: default;
  pointer-events: none;
}

/*!sc*/
.iKjxZF {
  padding: 0;
  margin: 0;
  border: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-align: center;
  cursor: pointer;
  display: block;
  background: none;
  type: button;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  vertical-align: middle;
}

/*!sc*/
.iKjxZF:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

/*!sc*/
.iKjxZF:disabled {
  cursor: default;
  pointer-events: none;
}

/*!sc*/
data-styled.g10[id="sc-pFZIQ"] {
  content: "ldGKnQ,iKjxZF,";
}

/*!sc*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*!sc*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/*!sc*/
*[hidden] {
  display: none;
}

/*!sc*/
body {
  line-height: 1;
}

/*!sc*/
ol,
ul {
  list-style: none;
}

/*!sc*/
blockquote,
q {
  quotes: none;
}

/*!sc*/
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/*!sc*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!sc*/
html {
  font-family: Karla, sans-serif;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*!sc*/
html > * {
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
}

/*!sc*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*!sc*/
data-styled.g16[id="sc-global-koxjWe1"] {
  content: "sc-global-koxjWe1,";
}

/*!sc*/
.kDLGKd {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: currentColor;
  -webkit-mask-image: url(https://assets.production.linktr.ee/72190a15a4068ab2d224c527df5785f3576e832b/icons/tabler-icons/brand-instagram.svg);
  mask-image: url(https://assets.production.linktr.ee/72190a15a4068ab2d224c527df5785f3576e832b/icons/tabler-icons/brand-instagram.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  width: 32px;
  height: 32px;
  left: 8px;
}

/*!sc*/
.jcorGD {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: currentColor;
  -webkit-mask-image: url(https://assets.production.linktr.ee/72190a15a4068ab2d224c527df5785f3576e832b/icons/tabler-icons/brand-linkedin.svg);
  mask-image: url(https://assets.production.linktr.ee/72190a15a4068ab2d224c527df5785f3576e832b/icons/tabler-icons/brand-linkedin.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  width: 32px;
  height: 32px;
  left: 8px;
}

/*!sc*/
.cSPdPD {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: currentColor;
  -webkit-mask-image: url(https://assets.production.linktr.ee/72190a15a4068ab2d224c527df5785f3576e832b/icons/tabler-icons/wand.svg);
  mask-image: url(https://assets.production.linktr.ee/72190a15a4068ab2d224c527df5785f3576e832b/icons/tabler-icons/wand.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  width: 32px;
  height: 32px;
  left: 8px;
}

/*!sc*/
.gvyqFz {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
  overflow: hidden;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: currentColor;
  -webkit-mask-image: url(https://assets.production.linktr.ee/72190a15a4068ab2d224c527df5785f3576e832b/icons/tabler-icons/movie.svg);
  mask-image: url(https://assets.production.linktr.ee/72190a15a4068ab2d224c527df5785f3576e832b/icons/tabler-icons/movie.svg);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  width: 32px;
  height: 32px;
  left: 8px;
}

/*!sc*/
data-styled.g93[id="StyledThumbnail-sc-12312du-0"] {
  content: "kDLGKd,jcorGD,cSPdPD,gvyqFz,";
}

/*!sc*/
.ODUDb {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  white-space: normal;
  background: none;
  color: inherit;
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    -webkit-transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  padding-left: 66px;
  padding-right: 66px;
}

/*!sc*/
data-styled.g94[id="StyledButton-bvyyqb-0"] {
  content: "ODUDb,";
}

/*!sc*/
.jscbjC {
  z-index: 0;
  overflow: hidden;
  margin-bottom: 16px;
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    -webkit-transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  border: 2px solid;
  border-color: #4f7cfe;
  background-color: #4f7cfe;
  color: #fff;
  border-radius: 0;
}

/*!sc*/
@-webkit-keyframes topwave {
  from {
    -webkit-mask-position: 0 top;
    mask-position: 0 top;
  }

  to {
    -webkit-mask-position: 680px top;
    mask-position: 680px top;
  }
}

/*!sc*/
@keyframes topwave {
  from {
    -webkit-mask-position: 0 top;
    mask-position: 0 top;
  }

  to {
    -webkit-mask-position: 680px top;
    mask-position: 680px top;
  }
}

/*!sc*/
@-webkit-keyframes bottomwave {
  from {
    -webkit-mask-position: 0 top;
    mask-position: 0 top;
  }

  to {
    -webkit-mask-position: -680px top;
    mask-position: -680px top;
  }
}

/*!sc*/
@keyframes bottomwave {
  from {
    -webkit-mask-position: 0 top;
    mask-position: 0 top;
  }

  to {
    -webkit-mask-position: -680px top;
    mask-position: -680px top;
  }
}

/*!sc*/
.jscbjC:hover {
  background-color: transparent;
  color: #4f7cfe;
  border-color: #4f7cfe;
}

/*!sc*/
data-styled.g95[id="StyledContainer__StyledLinkContainer-sc-109f8l6-0"] {
  content: "jscbjC,";
}

/*!sc*/
.iVAbZh {
  position: relative;
}

/*!sc*/
data-styled.g108[id="Button__StyledText-pj0fhl-0"] {
  content: "iVAbZh,";
}

/*!sc*/
.dvusQD {
  background-size: cover;
  background-position: center;
  background-image: url("/_next/static/images/signup-banner-4f6a179612843b63eece3533261aa931.jpg"),
    linear-gradient(-40deg, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
}

/*!sc*/
data-styled.g146[id="SignupBannerOpen__Banner-sc-1d176et-0"] {
  content: "dvusQD,";
}

/*!sc*/
.ddFiZI {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
  -webkit-transition: transform 0.2s 0.2s ease-in-out;
  transition: transform 0.2s 0.2s ease-in-out;
}

/*!sc*/
data-styled.g147[id="SignupBannerToggle__Transition-lnoyzd-0"] {
  content: "ddFiZI,";
}

/*!sc*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*!sc*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/*!sc*/
*[hidden] {
  display: none;
}

/*!sc*/
body {
  line-height: 1;
}

/*!sc*/
ol,
ul {
  list-style: none;
}

/*!sc*/
blockquote,
q {
  quotes: none;
}

/*!sc*/
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/*!sc*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!sc*/
html {
  font-family: Karla, sans-serif;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*!sc*/
html > * {
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
}

/*!sc*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*!sc*/
data-styled.g149[id="sc-global-koxjWe2"] {
  content: "sc-global-koxjWe2,";
}
/*!sc*/
